.wrapper {
  margin: 0 auto;
  width: 100%;
  background-image: url(assets/background.jpg);
}

.header__mem {
  margin: 0 auto;
  max-width: 70%;
  font-size: 2.6rem;
  padding: 1rem 0 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mem__line {
  width: 100%;
  height: 0.1rem;
  background-color: white;
}

.mem__wrapper {
  max-width: 70%;
  margin: 0 auto;
}

.mem__input {
  display: none;
}

.slider__wrapper {
  overflow: hidden;
  
}

.slider__container {
  display: flex;
  max-width: 70rem;
  width: 500%;
  height: 100%;
  transition: all 0.5s;
}

.slider__img {
  width: 100%;
  height: 100%;
}








.footer {
  width: 70%;
  margin: 0 auto;
}

.footer__mem {
  max-width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;
}

.footer a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}






